@import "../../theme.scss";

:host{
  display: block;
  padding: 2rem 1rem;
}

mat-form-field{
  width: 40%;
  margin: 0 auto;
  display: block;
  transform: scale(1.1);
}

mat-card{
  width: max-content;
  margin-bottom: 1rem;
  mat-card-content{
    font-size: 1rem;
  }
}

// mat-accordion{
//   mat-panel-title{
//     font-size: 1.1rem;
//     letter-spacing: 2px;
//     font-weight: 500;
//     color: $light-accent-A200;
//   }
//   mat-panel-description{
//     font-style: italic;
//     letter-spacing: 1px;
//     color: $light-accent-50;
//   }
.table{
  width: 100%;
  overflow-x: auto;

  table{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .mat-cell,
    .mat-header-cell{
      font-size: 1.1rem;
      &:is(.mat-header-cell){
        font-style: italic;
      }
    }
  }
}

button .eliminarBtn{
  margin-left: 2px;
  color: $light-warn-100;
}



@media screen and (max-width: 768px) {
  mat-form-field{
    width: 90%;
    margin: 0 auto;
    display: block;
    transform: scale(1.1);
  }

  div .addBtn{
    text-align: center;
  }
}
