<section class="logo">
  <span>SGS Software</span>
  <span>Developed by <br> Team Porcinos</span>
</section>

<section class="links">
  <ul class="site-info">
    <li>About Us</li>
    <li>Privacy</li>
    <li>Policy</li>
    <li>Support</li>
  </ul>
  <ul class="other">
    <li>Videos</li>
    <li>Books</li>
    <li>Graphics</li>
    <li>Audios</li>
  </ul>
</section>

<section class="contact-info">
  <span class="number">
    +505 8779 6608
  </span>
  <span class="email">
    axellopezbrizuela3@gmail.com
  </span>
  <span class="website">
    <a href="">www.axellopezblog.com</a>

  </span>
</section>
