@import "../../../theme.scss";

:host{
  display: block;
  padding: 2rem 1rem;
}

.titulo{
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.label-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5px;
}

.centered-input {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.mat-tab-group {
  margin-bottom: 48px;
}
