:host{
  display: block;
  z-index: 3;
}

mat-toolbar{
  display: flex;
  justify-content: space-between;

  .user-info{
    display: flex;
    align-items: center;
    span{
      margin-left: 0.5rem;
    }
    mat-icon{
      transform: scale(1.4);
    }
  }
}

@media screen and (max-width: 470px) {
  h1{
    display: none;
  }
}
