@import "../../theme.scss";

.h1{
  margin-top: 20px;
  margin-left: 20px;
}


.Telefonia-1 {
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.Internet-1{
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.Cable-1{
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.Planes-1{
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}