<h1 class="h1">TELEFONIA</h1>
<div class="Telefonia-1">
<mat-card>
  <mat-card-header>
    <mat-card-title>Plan Pospago</mat-card-title>
    <mat-card-subtitle>25 Gb</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 21.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>25 GB para navegar</li>
      <li>70 minutos multidestino</li>
      <li>SMS ilimitados</li>
      <li>Minutos Tigo ilimitados</li>
      <li>YouTube gratis</li>
      <li>Tiktok gratis</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Gratis en tu plan</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>WhatsApp</li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Telegram</li>
      <li>Streaming Música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Adicional</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 mes de cortesía Amazon Music</li>
      <li>Paramount+ por 4.99 al mes</li>
      <li>1 Mes de cortesía de ViX+</li>
      <li>Star+ por 12.59 al mes</li>
      <li>1 Mes de cortesía de combo+</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
    </mat-card-actions>
</mat-card>
</div>

<div class="Telefonia-2">
<mat-card>
  <mat-card-header>
    <mat-card-title>Plan Pospago</mat-card-title>
    <mat-card-subtitle>40 Gb</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$33.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>40 GB para navegar</li>
      <li>110 minutos multidestino</li>
      <li>SMS ilimitados</li>
      <li>Minutos Tigo ilimitados</li>
      <li>YouTube gratis</li>
      <li>Tiktok gratis</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Gratis en tu plan</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>WhatsApp</li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Telegram</li>
      <li>Streaming Música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Adicional</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 mes de cortesía Amazon Music</li>
      <li>Paramount+ por 4.99 al mes</li>
      <li>1 Mes de cortesía de ViX+</li>
      <li>1 Mes de cortesía de Disney+</li>
      <li>Star+ por 12.59 al mes</li>
      <li>1 Mes de cortesía de combo+</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Telefonia-3">
<mat-card>
  <mat-card-header>
    <mat-card-title>Plan Pospago</mat-card-title>
    <mat-card-subtitle>70 Gb</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 61.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>70 GB para navegar</li>
      <li>170 minutos multidestino</li>
      <li>SMS ilimitados</li>
      <li>Minutos Tigo ilimitados</li>
      <li>YouTube gratis</li>
      <li>Tiktok gratis</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Gratis en tu plan</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>WhatsApp</li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Telegram</li>
      <li>Streaming Música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Adicional</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 mes de cortesía Amazon Music</li>
      <li>Paramount+ por 4.99 al mes</li>
      <li>1 Mes de cortesía de ViX+</li>
      <li>1 Mes de cortesía de Disney+</li>
      <li>Star+ por 12.59 al mes</li>
      <li>1 Mes de cortesía de combo+</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<h1 class="h1">INTERNET</h1>

<div class="Internet-1">
<mat-card>
  <mat-card-header>
    <mat-card-title>Plan 1</mat-card-title>
    <mat-card-subtitle>40 Mbps</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 28.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>Hasta 40 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>Paramount+ $4.99 al mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>

<mat-card class="Internet-2">
  <mat-card-header>
    <mat-card-title>Plan 2</mat-card-title>
    <mat-card-subtitle>70 Mbps</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 37.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>Hasta 70 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>Paramount+ $4.99 al mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Internet-3">
<mat-card>
  <mat-card-header>
    <mat-card-title>Plan 3</mat-card-title>
    <mat-card-subtitle>100 Mbps</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 46.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>Hasta 100 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>Paramount+ $4.99 al mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<h1 class="h1">CABLE</h1>

<div class="Cable-1">
<mat-card>
  <mat-card-header>
    <mat-card-title>Tv</mat-card-title>
    <mat-card-subtitle>Tv Digital</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 22.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>92 Canales SD</li>
      <li>17 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>1 mes de cortesía de ViX+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>Vigencia: 1 Mes</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Cable-2">
<mat-card>
  <mat-card-header>
    <mat-card-title>Tv</mat-card-title>
    <mat-card-subtitle>Tv Digital Avanzada</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 26.99 / Mes
      Precio Incluye Iva
    </p>
    <ul>
      <li>111 Canales SD</li>
      <li>68 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>1 mes de cortesía de ViX+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>Vigencia: 1 Mes</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<h1 class="h1">PLANES</h1>
<h2 class="h1">INTERNET + TV</h2>

<div class="Planes-3">
<mat-card>
  <mat-card-header>
    <mat-card-title>Tv Básica + 100 Mbps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 40.99 / Mes
      Precio Incluye Iva
    </p>
    <p><b>Tv Digital</b></p>
    <ul>
      <li>92 Canales SD</li>
      <li>18 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Internet</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>Hasta 100 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 Mes de cortesía de ViX+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>Paramount+ $4.99 al mes</li>
      <li>1 mes gratis Universal+ $5.90 mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText2}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Planes-4">
<mat-card>
  <mat-card-header>
    <mat-card-title>Tv Avanzada + 200 Mbps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 47.99 / Mes
      Precio Incluye Iva
    </p>
    <p><b>Tv Digital Avanzada</b></p>
    <ul>
      <li>111 Canales SD</li>
      <li>68 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Internet</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>Hasta 200 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 Mes de cortesía de ViX+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>1 mes gratis Universal+ $5.90 mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText2}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Planes-5">
<mat-card>
  <mat-card-header>
    <mat-card-title>ONE TV + 300 Mbps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 60.99 / Mes
      Precio Incluye Iva
    </p>
    <p><b>Tv Digital Avanzada</b></p>
    <ul>
      <li>111 Canales SD</li>
      <li>68 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Internet</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>Hasta 300 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 Mes de cortesía de ViX+</li>
      <li>Cortesía Paramount+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>1 mes gratis Universal+ $5.90 mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText2}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="Planes-6">
<mat-card>
  <mat-card-header>
    <mat-card-title>ONE TV + 500 Mbps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>$ 95.99 / Mes
      Precio Incluye Iva
    </p>
    <p><b>Tv Digital Avanzada</b></p>
    <ul>
      <li>111 Canales SD</li>
      <li>68 Canales HD</li>
      <li>50 Canales de música</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Internet</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>Hasta 500 Mbps de velocidad</li>
      <li>Navegacion ilimitada</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Incluye:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>3 meses de cortesía de Prime Video</li>
      <li>2 meses de cortesía de HBO Max</li>
      <li>1 Mes de cortesía de ViX+</li>
      <li>Cortesía Paramount+</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p><b>Servicios Adicionales:</b></p>
  </mat-card-content>
  <mat-card-content>
    <ul>
      <li>1 mes gratis Universal+ $5.90 mes</li>
    </ul>
  </mat-card-content>
  <mat-card-content>
    <p>{{longText2}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button sur color="warn">Lo quiero</button>
  </mat-card-actions>
</mat-card>
</div>
