<div class="container">
  <div class="Telefonia-1">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Plan Pospago 25 GB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>$ 21.99
      </p>
      <ul>
        <li>25 GB para navegar</li>
        <li>70 minutos multidestino</li>
        <li>SMS ilimitados</li>
        <li>Minutos Tigo ilimitados</li>
        <li>YouTube gratis</li>
        <li>Tiktok gratis</li>
      </ul>
    </mat-card-content>


  </mat-card>
  </div>
</div>
